<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Music genres</th>
        <th>Music</th>
    </tr>
    <tr th:each="list : ${musicList}">
        <td th:text="${list.id}"></td>
        <td th:text="${list.nameSong}"></td>
        <td th:text="${list.author}"></td>
        <td th:text="${list.musicGenres}"></td>
        <td th:text="${list.link}"></td>
        <td>
            <audio controls>
                <source th:src="@{'/music/' + ${list.getLink()}}" type="audio/ogg">
            </audio>
        </td>
    </tr>
</table>
<button> <a id="add" th:href="@{/music/create}">Add new Music</a></button>
</body>
</html>