<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <style>
        #img-of-the-day{
            width: 300px;
            height: 150px;
        }
    </style>
</head>
<body>
<img id="img-of-the-day" >


<form th:action="@{/image/create}" method="post" th:object="${image}">
    Rate: <input type="number" min="1" max="5" th:field="*{rate}">
    Author: <input type="text" th:field="*{author}">
    FeedBack: <textarea th:field="*{feedback}"></textarea>]
    Date : <input type="date" th:field="*{startDate}">
    <input type="submit" value="Comment">
</form>
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=omfKMdoPnWtyye12G7lY6G8LPgiZ57Wlz4mjhuqv';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</body>
</html>