<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #img-of-the-day {
            width: 500px;
            height: 400px;
        }
    </style>
</head>
<body>
<img id="img-of-the-day">
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=omfKMdoPnWtyye12G7lY6G8LPgiZ57Wlz4mjhuqv';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>


    <div th:each="image : ${images}">
<!--        <sapn th:hidden="${image.id}"></sapn>-->
<!--        <div th:if="${check}">-->
        <hr>
        <p th:text="${image.feedback}"></p>

        <span th:text="${image.likes}"></span>
        <span>likes</span>
       <span> <a th:href="@{/image/doLike/(id=*{image.id})}"><button>Like</button></a></span>
<!--        </div>-->
    </div>
</body>
</html>