<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
    <h1>Create book</h1>
    <form th:action="@{/book/create}" method="post" th:object="${book}">
      <table>
        <tr>
          <td>ID</td>
          <td><input type="text" th:field="*{bookId}"></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
          <td>Author</td>
          <td><input type="text" th:field="*{author}"></td>
        </tr>
        <tr>
          <td>Publish</td>
          <td><input type="date" th:field="*{publish}"></td>
        </tr>
        <tr>
          <td>Price</td>
          <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
          <td>Category</td>
          <td>
            <select th:field="*{category}">
              <option th:each="c : ${categories}" th:value="${c.categoryId}" th:text="${c.categoryName}"/>
            </select>
          </td>
        </tr>
      </table>
      <input type="submit" value="Create Book"/>
    </form>
</body>
</html>