<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/musicApp/save}" th:object="${musicForm}"
      method="POST" novalidate="novalidate" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div>
        <label>Description</label>
        <input type="text" th:field="*{description}"/>
    </div>
    <div>
        <label>Image</label>
        <input type="file" th:field="*{link}"/>
    </div>
    <input type="submit" value="Save"/>
</form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>